%div
  %span= avatar_image_tag payload.sender.avatar_url
  %a{href: payload.sender.html_url}= payload.sender.login
  #{payload.action} project

  - if payload.action == 'deleted'
    = payload.project.name
  - else
    %a{href: payload.project.html_url} #{payload.project.name}
